<app-header title="Login"></app-header>

<ion-content>
  <div class="d-flex-center">
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <app-logo-admin></app-logo-admin>

    <app-custom-input autocomplete="email" icon="mail-outline"
    [control]="form.controls.email" type="email" label="Correo"></app-custom-input>
    
    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <div *ngIf="form.controls.email.errors?.['required']">Campo Obligatorio</div>
      <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
    </div>

    <app-custom-input autocomplete="password" icon="bag-outline"
    [control]="form.controls.password" icon="lock-closed-outline" type="password" label="password"></app-custom-input>

    <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
      <div *ngIf="form.controls.password.errors?.['required']">Campo Obligatorio</div>
      
    </div>
    
    <p1 class="ion-text-end" routerLink="forgot-password">Restablecer contrasena</p1>

    <ion-button expand="block" mode="ios" type="submit" routerLink="HomeAdmin" class="submit" [disabled]="form.invalid">
      Ingresar
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button> 

    <ion-button class="ion-margin-top" routerLink="sign-up" expand="block" mode="ios" fill="outline">
      Registrarse
    </ion-button> 

    <ion-button class="ion-margin-top" routerLink="" expand="block" mode="ios" fill="outline">
      Usuarios
    </ion-button> 

  </form>


</div>
</ion-content>
